<section class="py-5">
    <div class="container">
        <div class="row text-center text-white">
            <div class="col-md-4">
                <div class="location">
                    <h4>Location</h4>
                    <p>Cairo, Egypt</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="social-links">
                    <h4>Stay Connected!</h4>
                    <p>Let’s stay in touch </p>
                    <div class="icons d-flex justify-content-center align-items-center column-gap-2">
        
        
                        <div class="icon d-flex justify-content-center align-items-center">
                           <a href="https://www.linkedin.com/in/shaymaaessa/" target="_blank" class="text-white"> <i class="fa-brands fa-linkedin-in"></i></a>
                        </div>
        
                        <div class="icon d-flex justify-content-center align-items-center">
                            <a href="https://github.com/ShaymaaEssa" target="_blank" class="text-white"><i class="fa-brands fa-github"></i></a>
                        </div>
        
                        <div class="icon d-flex justify-content-center align-items-center">
                            <a href="mailto:shaymaaessa77@gmail.com" target="_blank" class="text-white"><i class="fa-solid fa-envelope"></i></a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="text">
                    <h4>FREELANCE Work</h4>
                    <p>Connect with me and let’s build something great!</p>
                </div>
            </div>



        </div>
    </div>

    
</section>