<section class="py-5">
    <div class="container">
        <div class="row text-center text-white">
            <div class="col-md-4">
                <div class="location">
                    <h4>Location</h4>
                    <p>Cairo, Egypt</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="social-links">
                    <h4>Stay Connected!</h4>
                    <p>Let’s stay in touch </p>
                    <div class="icons d-flex justify-content-center align-items-center column-gap-2">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <i class="fa-brands fa-facebook"></i>
                        </div>
        
                        <div class="icon d-flex justify-content-center align-items-center">
                            <i class="fa-brands fa-twitter"></i>
                        </div>
        
                        <div class="icon d-flex justify-content-center align-items-center">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>
        
                        <div class="icon d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-globe"></i>
                        </div>
        
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="text">
                    <h4>FREELANCE Work</h4>
                    <p>Connect with me and let’s build something great!</p>
                </div>
            </div>



        </div>
    </div>

    
</section>