<section class="py-5">
    <div class="container d-flex justify-content-center align-items-center flex-column row-gap-3">
        <div class="img rounded-circle overflow-hidden">
            <img src="/images/avater.avif" alt="avatar" class="img-cover w-100">
        </div>
        <div class="text d-flex flex-column justify-content-center align-items-center row-gap-2">
            <h1>Shaymaa Essa</h1>
            <app-decoration [isWhite]="true"></app-decoration>
            <p>Frontend Developer - Frontend Designer - Angular Developer</p>
        </div>
    </div>
</section>